%html
  %head
    %title Live Inventory
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,300", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag    "application", :media => :all
    = javascript_include_tag "application"
    %script{:src => 'http://code.jquery.com/ui/1.11.4/jquery-ui.js'}
    = javascript_include_tag 'https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js'
  %body
    %section.container
      = render 'layouts/header'
      = yield

:css
  .message {color: red;font-size: 11px;}
  .note {color: red;}
  
:javascript
  $(function(){
    $(".uniform").uniform();
    $(".chosen_select").chosen();
    $(".chosen_no_search").chosen({
      disable_search: true
    });
    $(".toggle_btn").click(function(){
      var $panel_body = $(this).parent().next();
      if($panel_body.is(":hidden")) {
        $panel_body.slideDown();
        $(this).addClass("down_arrow").attr("title","Hide Filter");
      }
      else {
        $panel_body.slideUp();
        $(this).removeClass("down_arrow").attr("title","Show Filter");
      }
    });
  });