%html
  %head
    %title Live Inventory
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,300", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag    "application", :media => :all
    = javascript_include_tag "application"
    %script{:src => 'http://code.jquery.com/ui/1.11.4/jquery-ui.js'}
    = javascript_include_tag 'https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js'
  %body
    %section.container
      = render 'layouts/header'
      = yield

:css
  .message {color: red;font-size: 11px;}
  .note {color: red;}
  

:javascript
  $(document).ready(function(){
    $(document).on('change', 'input[type="file"]', function(){
      var data = $(this);
      if($(this).closest('.field').children().hasClass('product_image')){
        if(this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            data.closest('.field').find('img').attr('src', e.target.result); 
          }
          reader.readAsDataURL(this.files[0]);
        }
      }
      else{
        if(this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            data.parent().parent().before('<div class="product_image"><img src="'+e.target.result+'"></img></div>'); 
          }
          reader.readAsDataURL(this.files[0]);
        }
      }
    })
    $(document).on('change', '.allow_cod', function(){
      a = $(this).is(":checked")
      console.log(a)
      $.getScript('/change_cod?q='+a)
      $.notify('Updating Cod, Please Wait...')
    })
  })
  
:javascript
  $(function(){
    $(".uniform").uniform();
    $(".chosen_select").chosen();
    $(".chosen_no_search").chosen({
      disable_search: true
    });
    $(".toggle_btn").click(function(){
      var $panel_body = $(this).parent().next();
      if($panel_body.is(":hidden")) {
        $panel_body.slideDown();
        $(this).addClass("down_arrow").attr("title","Hide Filter");
      }
      else {
        $panel_body.slideUp();
        $(this).removeClass("down_arrow").attr("title","Show Filter");
      }
    });
  });